################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQPOC/obj
/RabbitMQPOC/bin/Debug/netcoreapp3.1
/.vs/RabbitMQPOC/DesignTimeBuild
/.vs/RabbitMQPOC
/RabbitMQConsumerPOC/bin/Debug/netcoreapp3.1
/RabbitMQConsumerPOC/obj
/RabbitMQPOC.Lib/bin/Debug/netcoreapp3.1
/RabbitMQPOC.Lib/obj/Debug/netcoreapp3.1
/RabbitMQPOC.Lib/obj
